[submodule "Scalable-find-tens-place-of-Numb"]
	path = Scalable-find-tens-place-of-Numb
	url = https://github.com/miketestgit01/Scalable-find-tens-place-of-Numb.git
[submodule "Brick-Sort-read-from-file"]
	path = Brick-Sort-read-from-file
	url = https://github.com/miketestgit01/Brick-Sort-read-from-file.git
